<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form method="POST" action="/">
            <lable for="email">Email:</lable>
            <input type="email" name="email" placeholder="ujjvalpatel210@gmail.com" required>
            <br>
            <lable for="password">Password:</lable>
            <input type="password" name="password" placeholder="Ujjval123" required>
            <br>
            <button type="submit">Login</button>
        </form>
        <br>
       <a href="/students/new/">Don't have an account?</a>
    </body>
</html>