<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Create Student</title>
    </head>
    <body>
       <h1>Create Student</h1>
       <form method="POST" action="/students/">
            <lable for="name">Name:</lable>
            <input type="text" name="name" placeholder="Ujjval" required>
            <br>
            <lable for="sem">Sem:</lable>
            <input type="number" name="sem" placeholder="7" required>
            <br>
            <lable for="email">Email:</lable>
            <input type="email" name="email" placeholder="ujjvalpatel210@gmail.com" required>
            <br>
            <lable for="password">Password:</lable>
            <input type="password" name="password" placeholder="Ujjval123" required>
            <br>
            <button type="submit">Register</button>
       </form> 
       <br>
       <a href="/">Already have an account?</a>
    </body>
</html>