<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registration form</title>
    </head>
    <body>
        <h1>User Registration</h1>
        <form action="/register" method="POST" enctype="multipart/form-data">
            <label for="name">Name:</label>
            <input type="text" name="name" required><br><br>

            <lable for="email">Email:</lable>
            <input type="email" name="email" required><br><br>

            <label for="password">Password:</label>
            <input type="password" name="password" required><br><br>

            <label for="files">Upload Files:</label>
            <input type="file" name="files" multiple><br><br>

            <button type="submit">Register</button>
        </form>
    </body>
</html>